* {
	box-sizing: border-box;
	background-color: #fefef4;
	font-family: "Times New Roman", Times, serif;
	color: #400000;
}

#main_page_header {
	font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	font-size: 100px;
}

.container {
	display: grid;
	grid-template-columns: 1fr;
	/* One column, taking up available space */
	grid-template-rows: repeat(auto-fit, minmax(200px, 1fr));
	/* This creates a responsive grid where each column is at least 200px wide,
		but can expand to fill the available space equally. */
	/* The use of auto-fit and minmax() allows the grid to adapt to different screen sizes, ensuring a flexible and responsive layout.*/
	grid-auto-rows: 1fr;
	/*This sets all rows to have equal height. The 1fr unit distributes the available space equally among all rows, ensuring they all have the same height, determined by the tallest item in the grid. */
	gap: 10px;
	/* Add spacing between boxes */
}

.card {
	outline: 2px solid red;
	text-align: center;
}

a {
	text-decoration: none;
}