/*----------------------------CSS styling for all elements--------------------*/

* {
	box-sizing: border-box;
	background-color: #fefef4;
	font-family: "Times New Roman", Times, serif;
	color: #400000;
}

/*---------------------CSS styling for all elements (end)---------------------*/

/*##########################################################################*/

/*----------------------------Styling for index elements----------------------*/

#main_page_header {
	font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	font-size: 100px;
}

.container {
	display: grid;
	grid-template-columns: 1fr;
	/* One column, taking up available space */
	grid-template-rows: repeat(auto-fit, minmax(200px, 1fr));
	/* This creates a responsive grid where each column is at least 200px wide,
		but can expand to fill the available space equally. */
	/* The use of auto-fit and minmax() allows the grid to adapt to different screen sizes, ensuring a flexible and responsive layout.*/
	grid-auto-rows: 1fr;
	/*This sets all rows to have equal height. The 1fr unit distributes the available space equally among all rows, ensuring they all have the same height, determined by the tallest item in the grid. */
	gap: 10px;
	/* Add spacing between boxes */
}

.card {
	/* outline: 2px solid red; */
	display: flex;
	justify-content: center;
	align-items: center;

	border: 5px dashed #deded7;
	border-radius: 15px;

	font-size: 50px;
	font-weight: bold;

}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

/*-----------------------Styling for index elements (end)--------------------*/

/*##########################################################################*/

/*--------------------------Styling for recipe pages-----------------------*/

#nav_bar {
	/* display: block; */
	/* overflow: hidden; */
	/* outline: 2px solid red; */

	position: fixed; /* Set the navbar to fixed position */
	top: 0; /* Position the navbar at the top of the page */
	left: 0;
	right: 0;

	width: 100%; /* Full width */

	padding: 20px;

	border-bottom: 0.5px solid #e7dfdf;

}

.home {
	text-align: left;

	font-size: 30px;

}

#body_content {
	/* overflow: hidden; */

	/* outline: 2px solid red; */

	padding: 1px 20px;
	margin-top: 70px;
	
}

#page_header {
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	font-size: 50px;

	text-align: center;
}

.parent {
	outline: 2px solid red;
	display: flex; /* Aligns the children items in a row direction */
	flex-direction: row;
	padding: 10px;

}

/*Left child styling*/
.left_child {
	outline: 2px solid red;
	margin-right: 10px;
	flex: 1 1 auto;

/* width: 200px;
	height: 100px; */
	height: 70vh;
	/*vh stands for viewport height. This unit is based on the height of the viewport. A value of 1vh is equal to 1% of the viewport height*/
	background-image: url("../images/caesar-salad.webp");
	background-size: cover;
	background-position: center;
	/* Optional: for centering the image */
}

.overlay {
	text-align: center;
	width: 70%;
	height: 20%;
	background-color: rgb(255 255 255/20%);
	backdrop-filter: blur(10px);
	position: relative;
	top: 70%;
	left: 31%;
	translate: -25% -25%;
}

.overlay h4 {
	font-size: 25px;
	background-color: rgb(255 255 255/20%);
	backdrop-filter: blur(10px);
}

.overlay p {
	background-color: rgb(255 255 255/20%);
	backdrop-filter: blur(10px);
}


/*Right child styling*/
.right_child {
	outline: 2px solid red;
	flex: 2 1 auto;
}

/*-----------------------Styling for recipe pages (end)-----------------------*/